/*  Judul */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* Content */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
#header {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
}
#content {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
#content h2 {
  text-shadow: 3px 3px 5px #000;
}
button > a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 20px;
}
